body {
    font-family: "Segoe UI", sans-serif;
    background-color: #e0f7fa;
    color: #004d40;
    margin: 20px;
}

.header {
    background-color: #00acc1;
    color: white;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #004d40;
    border-radius: 0 0 5px 5px;
}

.menu {
    flex: 0 0 160px;
    display: flex;
    flex-direction: column;
}

.menu button {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #00acc1;
    background-color: white;
    color: #00acc1;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.menu button:hover {
    background-color: #00acc1;
    color: white;
}

.main {
    flex: 1;
}

.sidebar {
    flex: 0 0 250px;
    background-color: #4dd0e1;
    color: #004d40;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.footer {
    clear: both;
    background-color: #00acc1;
    color: white;
    padding: 15px 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}